<div class="d-flex flex-column align-items-center">
    <div class="text-center custom-titles">
        <h1 class="fw-bold custom-title mb-2">Geraçao de certificados</h1>
        <p class="custom-subtitle mb- 4">Visualize todos certificados gerados</p>
    </div>

    <div class="custom-card w-100">
        <h2>Novo certificado</h2>

        <div class="d-flex align-items-end mb-3">
            <div class="w-100 custom-input-group">
                <label for="form-label">Nome</label>
                <input type="text" class="form-control custom-input" placeholder="Digite o nome completo do aluno">
            </div>
        </div>

        <div class="d-flex align-items-end mb-3">
            <div class="me-2 w-100 custom-input-group">
                <label for="form-label">Atividade</label>
                <input type="text" class="form-control custom-input" placeholder="Digite o título da atividade">
                <div class="error-message d-flex align-items-center">
                    <i class="ph ph-warning-octagon"></i>
                    <p class="text-erro m-0">Erro</p>
                </div>
            </div>
            <app-secundary-button></app-secundary-button>
        </div>

        <div class="atividade-group">
            <label for="form-label">Lista de atividades</label>
            <div class="item-list w-100">
                <div class="item">
                    <span>atividade</span>
                    <div class="remove-btn"><i class="ph ph-x"></i></div>
                </div>
                <hr class="w-100">
                <div class="item">
                    <span>atividade</span>
                    <div class="remove-btn"><i class="ph ph-x"></i></div>
                </div>
                <hr class="w-100">
                <div class="item">
                    <span>atividade</span>
                    <div class="remove-btn"><i class="ph ph-x"></i></div>
                </div>
            </div>
            <app-primary-button></app-primary-button>
        </div>
        

    </div>
</div>
