.custom-card{
    max-width: 672px;
    margin-top: 8px;
    padding: 48px 32px;
    border: 1px solid #E2E8F0;
    gap: 20px;
}

.atividade-group{
    margin-top: 20px;
}

label{
    font-weight: 500;
    color: #1A2856;
}

.item-list{
    border: 1px solid #E2E8F0;
    padding: 16px;
    margin-bottom: 32px;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}
div i{
    padding: 6px;
    color: red;
    cursor: pointer;
}

div i:hover{
    background-color: #E2E8F0;
}


.item-list hr{
    margin: 12px 0;
}

.custom-input:focus{
    border: 1px solid #3b5ac2 ;
    box-shadow: none;
}

.custom-input-group:has(input:focus) label{
    color: #3b5ac2;
}

.error-message{
    gap: 4px;
}

.text-erro{
    font-size: 12px;
    line-height: 16px;
    color: red;
}

.custom-input-group:has(.text-erro) label{
    color: red;
}

