.navbar{
    padding: 1rem 2 rem;
    border-bottom: 1px solid #E2E8F0;
}

.active{
    color: #3B5AC2
}

.nav-link.active{
    color: #3B5AC2;
}

.logo-nav{
    width: 40px;
    height: 40px;
}

ul > li{
    cursor: pointer;
}