<div class="d-flex flex-column align-items-center">
    <div class="d-flex menu-certificado">
        <div class="d-flex align-items-center">
            <i (click)="voltar()" class="ph ph-arrow-left"></i>
            <p class="txt-voltar m-0 ms-1">Voltar</p>
        </div>
        <app-secundary-button [textoBotao]="'Dowload'"></app-secundary-button>
    </div>

    <div class="certificado d-flex flex-column justify-content-center align-items-center">
        <div class="conteudo-certificado">
            <img class="icone-assinatura" src="certificate/Certificate_Signature.svg" alt="">
            <div class="texto-certificado d-flex flex-column align-items-center">
                <div class="certificado-header d-flex flex-column align-items-center">
                    <h1 class="certificado-title">CERTIFICADO DE CONCLUSÃO</h1>
                    <p class="certificado-subtitle">Este certificado comprova que</p>
                </div>
                <p class="nome-aluno">Ana Silva Lopes</p>
                <div class="lista-atividades">
                    <p class="lista-atividades-title">Concluiu com sucesso as seguintes atividades:</p>
                    <p class="lista-atividades-subtitle">Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis, Manipulação de dados, Implementação de data binding, Criação de rotas com Angular Router, Consumo de APIs REST</p>
                </div>
                <div class="footer d-flex flex-column align-items-center w-100">
                    <p class="emitido m-0">{{certificado}}</p>
                </div>
            </div>
        </div>
        <img class="icone-medalha" src="certificate/Certificate_Ribbon.svg">
    </div>
</div>
